<div>
  <header>
    <h1>NG SEED PROJECT</h1>
  </header>
  <div>
    <header>
      <h4>List of data from model driven purely by reference!</h4>
    </header>
    <div>
      <ul>
        <li ng-repeat="user in Model.data.users">
          <ul>
            <li>Name: {{user.name}}</li>
            <li>Age: {{user.age}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div>
  Actions
  <button ng-click="Model.resources.users.attach()">Attach</button>
  <button ng-click="Model.resources.users.detach()">Detach</button>
  <button ng-click="Model.resources.users.bind()">Bind</button>
  <button ng-click="Model.resources.users.unbind()">Unbind</button>
</div>
