<div class="module main">
  <div class="tabs">
    <ul>
      <li ng-repeat="tab in tabs" ng-click="active.tab = tab" ng-class="{active: active.tab === tab}">{{tab}}</li>
    </ul>
  </div>
  <div class="content">
    <div class="tab" ng-show="active.tab === 'about'">
      <p>Thank you for using GULP-MEAN-SEED!</p>
      <p>
        Gulp-mean-seed is a gup driven generator for MEAN stack apps that ships with a few handy things:
      </p>
      <ul>
        <li>End-to-end interaction with a mock 'users' module.</li>
        <li>Verbose CLI management</li>
        <li>Cross platform(OS) support</li>
      </ul>
    </div>
    <div class="tab" ng-show="active.tab === 'philosophy'">philosophy</div>
  </div>
</div>
