<div class="module main">
  <header>
    <h1>NG SEED PROJECT</h1>
  </header>
  <div>
    <header>
      <h4>List of data from model driven purely by reference!</h4>
    </header>
    <div>
      <ul>
        <li ng-repeat="user in Model.data.users">
          <ul>
            <li>Name: {{user.name}}</li>
            <li>Age: {{user.age}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div>
  Actions
  <button ng-click="Model.__actions__.users.attach()">Attach</button>
  <button ng-click="Model.__actions__.users.detach()">Detach</button>
  <button ng-click="Model.__actions__.users.bind()">Bind</button>
  <button ng-click="Model.__actions__.users.unbind()">Unbind</button>
</div>

<div>
  Model Data:
  <br/>
  {{Model.data}}
</div>

<div>
  Model resources:
  <br/>
  {{Model.resources}}
</div>